<template>
  <div>
    <b-alert v-model="showDismissibleAlert" variant="danger" dismissible fade show>
      Dismissible Alert!
    </b-alert>
    <b-button @click="showDismissibleAlert=true" variant="info" class="m-1">
      Show dismissible alert ({{ showDismissibleAlert ? 'visible' : 'hidden' }})
    </b-button>
  </div>
</template>
<script>
export default {
  data () {
    return {
      showDismissibleAlert: false
    }
  }
}
</script>
