<template>
  <b-container style="max-width: 27%" class="p-3">
    <b-row row lg="3" class="justify-content-md-center text-center" pt-3>
      <b-col>
        <b-alert
          :show="dismissCountDown"
          variant="danger"
          @dismissed="dismissCountDown = 0"
          @dismiss-count-down="countDownChanged"
          fade
          >
          {{ errorMessage }}
        </b-alert>
      </b-col>
    </b-row>
    <b-row row lg="9" class="justify-content-md-center text-center">
      <b-col>
        <b-card-group>
          <b-card>
            <b-form @submit.stop.prevent="onSubmit" novalidate>
              <b-form-group
                id="example-input-group-1"
                label="Email"
                label-for="example-input-1"
              >
                <b-form-input
                  id="example-input-1"
                  name="example-input-1"
                  type="email"
                  v-model="$v.form.email.$model"
                  :state="validateState('email')"
                  aria-describedby="input-1-live-feedback"
                ></b-form-input>

                <b-form-invalid-feedback id="input-1-live-feedback"
                  >Please enter a valid email.</b-form-invalid-feedback
                >
              </b-form-group>

              <b-form-group
                id="example-input-group-2"
                label="Password"
                label-for="example-input-2"
              >
                <b-form-input
                  id="example-input-2"
                  name="example-input-2"
                  type="password"
                  v-model="$v.form.password.$model"
                  :state="validateState('password')"
                  aria-describedby="input-2-live-feedback"
                ></b-form-input>

                <b-form-invalid-feedback id="input-2-live-feedback"
                  >Please enter your password.</b-form-invalid-feedback
                >
              </b-form-group>

              <b-button type="submit" variant="primary">Submit</b-button>
              <b-button class="ml-2" @click="resetForm()">Reset</b-button>
            </b-form>
          </b-card>
        </b-card-group>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, /* minLength, */ email } from 'vuelidate/lib/validators'

export default {
  mixins: [validationMixin],
  data () {
    return {
      errorMessage: '',
      dismissSecs: 2,
      dismissCountDown: 0,
      showDismissibleAlert: false,
      form: {
        email: null,
        password: null
      }
    }
  },
  validations: {
    form: {
      email: {
        email,
        required
      },
      password: {
        required
        // minLength: minLength(3)
      }
    }
  },
  methods: {
    countDownChanged (dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    showAlert () {
      this.dismissCountDown = this.dismissSecs
    },
    validateState (email) {
      const { $dirty, $error } = this.$v.form[email]
      return $dirty ? !$error : null
    },
    resetForm () {
      this.form = {
        email: null,
        password: null
      }

      this.$nextTick(() => {
        this.$v.$reset()
      })
    },
    onSubmit () {
      this.$v.form.$touch()
      if (this.$v.form.$anyError) {
        return
      }
      this.$axios
        .get('/sanctum/csrf-cookie', { timeout: 2000 })
        .then((response) => {
          this.$axios
            .post(
              '/login',
              { email: this.form.email, password: this.form.password },
              { timeout: 2000 }
            )
            .then((responseLogin) => {
              if (responseLogin.status === 200) {
                this.$store.dispatch('loginLogout', true)
                this.$store.dispatch('setUser', responseLogin.data.user)
                this.$router.push({ name: 'Index' })
              }
            })
            .catch((errorLogin) => {
              this.errorMessage = errorLogin.response.data.message
              this.showAlert()
              // alert(this.errorMessage)
            })
        })
        // eslint-disable-next-line handle-callback-err
        .catch((error) => {
          this.errorMessage = 'An error occured.'
          this.showAlert()
          // alert(this.errorMessage)
        })
    }
  }
}
</script>
