<template>
  <b-container fluid>
    <b-row>
      <b-col>
        <b-navbar toggleable="lg" type="light" variant="light">
          <b-navbar-brand href="#">BootstrapVue</b-navbar-brand>

          <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

          <b-collapse id="nav-collapse" is-nav>
            <!-- Right aligned nav items -->
            <b-navbar-nav class="ml-auto">
              <b-nav-item-dropdown right>
                <!-- Using 'button-content' slot -->
                <template #button-content>
                  <em>{{ name }}</em>
                </template>
                <b-dropdown-item href="#">Sign Out</b-dropdown-item>
              </b-nav-item-dropdown>
            </b-navbar-nav>
          </b-collapse>
        </b-navbar>
      </b-col>
    </b-row>
    <b-row>
      <b-col sm="2">
        <b-list-group>
          <b-list-group-item to="/" exact-active-class="active">Home</b-list-group-item>
          <b-list-group-item to="/about" exact-active-class="active">About</b-list-group-item>
        </b-list-group>
      </b-col>
      <b-col sm="10">
        <router-view />
      </b-col>
    </b-row>
    <b-row>
      <b-col>Footer</b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  data () {
    return {
      user: this.$store.getters.getUser,
      name: this.$store.getters.getUser.name
    }
  }
}
</script>
